.form {
    margin: 10px auto;
    padding: 20px 12px 10px 20px;
    font: 13px;
    display: flex;
    flex-direction: column;
}
.form li {
    padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;  
}
.form label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.form input {
    width: 50%;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	outline: none;
}