@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700);

//font variables
$mainFont: "Open Sans", "Segoe UI", Tahoma, sans-serif;

//color variables
$purple: #521751;
$white: #ffffff;
$grey: #cccccc;

//padding
$default_container_padding: 20 px;