@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700);

//font variables
$mainFont: "Open Sans", "Segoe UI", Tahoma, sans-serif;
$txt-primary: black;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;